.mgtsk-download {
  margin-left: 30px;
  font-size: 11px;
  color: #666666;
  display: inline-block;
  border-bottom-width: 10px;
  margin-bottom: 10px;
}
.mgtsk-download:after {
  content: attr(data-content);
  font-size: 0.8em;
  padding-left: 5px;
  text-decoration: none;
}
/*# sourceMappingURL=mp.css.map */