/*@import "helpers/normalize.less";*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f_w.eot');
  src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'), url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  src: url('../fonts/pts56f_w.eot');
  src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'), url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts75f_w.eot');
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'), url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/pts76f_w.eot');
  src: local('PT Sans Bold Italic'), url('../fonts/PTS76F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F_W.woff') format('woff'), url('../fonts/PTS76F_W.ttf') format('truetype'), url('../fonts/PTS76F_W.svg#PTSans-BoldItalic') format('svg');
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  min-width: 979px;
}
.inline-no-float {
  font-size: 0;
  letter-spacing: -4px;
}
.inline-no-float [class*=col] {
  float: none;
  letter-spacing: normal;
  display: inline-block;
  font-size: 14px;
}
.row {
  width: 100%;
}
.options-wrapper {
  /*#gradient.radial(@color1, @color2);*/
  height: 100%;
  padding-bottom: 170px;
  min-height: 270px;
  position: relative;
}
.options-logo-wrapper {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.options-logo-link {
  display: inline-block;
  /*background: royalblue;*/
}
.options-center {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.options-input-container {
  text-align: center;
  /*max-width: 66%;*/
  max-width: 625px;
  margin: 0 auto;
}
.options-input-btn,
.options-input-text {
  border-radius: 0;
  border: none;
  display: inline-block;
  width: auto;
}
.options-input-btn,
.options-input-text,
.options-input-btn:hover,
.options-input-text:hover,
.options-input-btn:focus,
.options-input-text:focus,
.options-input-btn:active,
.options-input-text:active {
  box-shadow: 0 0 0 2px #1bb27f;
}
.options-input-text {
  min-width: 75%;
  min-width: -webkit-calc(100% - 100px);
  min-width: calc(100% - 100px);
}
.options-input-btn {
  box-shadow: 0 0 0 2px #1bb27f;
  border-radius: 0;
  border: none;
  background: #1bb27f;
  color: #ffffff;
  width: 100px;
}
.options-input-btn:hover,
.options-input-btn:focus {
  background: #189c6f;
  box-shadow: 0 0 0 2px #1bb27f;
}
.options-input-btn:active {
  background: #19a576;
  box-shadow: 0 0 0 2px #1bb27f;
}
.options-input-checkbox label {
  font-size: 12px;
  letter-spacing: normal;
}
.options-input-checkbox input,
.options-input-checkbox label {
  vertical-align: middle;
  margin-top: 0;
}
.options-link {
  font-size: 13px;
}
a.options-link {
  color: #cccccc;
}
a.options-link:focus,
a.options-link:hover {
  color: #999;
}
.options-link-wrapper {
  margin: 20px auto 0;
}
html,
body {
  min-height: 100%;
  height: 100%;
  height: 100vh;
}
.row.no-padding [class*=col] {
  padding: 0;
}
/*# sourceMappingURL=options.css.map */