@color1: #a0cc3a;
@color2: #74b042;

.options {
    &-wrapper {
        #gradient.radial(@color1, @color2);
        height: 100%;
        
        padding-bottom: 170px;
        min-height: 270px;
        position: relative;
    }
    &-logo {
        &-wrapper {
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
        &-link {
            display: inline-block;
        }
    }
    &-center {
        position: absolute;
        top: 50%;
        left: 0;
        .transform(translateY(-50%));
    }
}

html,
body {
    min-height: 100%;
    height: 100%;
    height: 100vh;
}
.row {
    &.no-padding {
        [class*=col] {
            padding: 0;
        }
    }
}