.mgtsk {
    &-download {
        margin-left: 30px;
        font-size: 11px;
        color: hsl(0, 0%, 40%);
        display: inline-block;
        border-bottom-width: 10px;
        margin-bottom: 10px;
        &:after {
            content: attr(data-content);
            font-size: 0.8em;
            padding-left: 5px;
            text-decoration: none;
        }
    }
}