@import "helpers/lessmix.less";
/*@import "helpers/normalize.less";*/
@import "helpers/variable.less";
@import "helpers/technical.less";
@color1: #a0cc3a;
@color2: #74b042;

.options {
    &-wrapper {
        /*#gradient.radial(@color1, @color2);*/
        height: 100%;

        padding-bottom: 170px;
        min-height: 270px;
        position: relative;
    }
    &-logo {
        &-wrapper {
            position: absolute;
            bottom: 20px;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
        &-link {
            display: inline-block;
            /*background: royalblue;*/
        }
    }
    &-center {
        position: absolute;
        top: 50%;
        left: 0;
        .transform(translateY(-50%));
    }
    @c: #1bb27f;
    &-input {
        &-container {
            text-align: center;
            /*max-width: 66%;*/
            max-width: 625px;

            margin: 0 auto;
        }
        &-btn,
        &-text {
            border-radius: 0;
            border: none;

            display: inline-block;
            width: auto;
            &,
            &:hover,
                &:focus,
                &:active {
                box-shadow: 0 0 0 2px @c;

            }
        }
        &-text {
            min-width: 75%;
            @w: 100px;
            min-width: ~'-webkit-calc(100% - @{w})';
            min-width: ~'calc(100% - @{w})';
        }
        &-btn {
            box-shadow: 0 0 0 2px @c;
            border-radius: 0;
            border: none;

            background: @c;
            &:hover,
                &:focus {
                background: darken(@c, 5%);
                box-shadow: 0 0 0 2px @c;
            }
            &:active {
                background: darken(@c, 3%);
                box-shadow: 0 0 0 2px @c;
            }
            color: @white;
            width: 100px;
        }
        &-checkbox {
            label {
                font-size: 12px;
                letter-spacing: normal;

            }
            input,
            label {
                vertical-align: middle;    
                margin-top: 0;
            }
        }
    }
    &-link {
        font-size: 13px;
        a& {
            color: @white - 51;
            &:focus,
                &:hover {
                color: #999;
            }
        }
        &-wrapper {
            margin: 20px auto 0;
        }
    }
}

html,
body {
    min-height: 100%;
    height: 100%;
    height: 100vh;
}
.row {
    &.no-padding {
        [class*=col] {
            padding: 0;
        }
    }
}